# An√°lisis de Costos

In [44]:
import pandas as pd
import json
import os
from matplotlib import pyplot as plt

In [45]:
path = '../data/input_satellites.xlsx'
df = pd.read_excel(path)

In [46]:
factor = 1
costo_instalar = {
"2"	:   20185,
"4"	:   28596,
"6"	:   35325,
"8"	:   40371,
"10":	43735,
"12":	45417,
}
costo_instalar = {
    k: val#*(1+12/int(k)/100)
    for k, val in costo_instalar.items()
}
costo_instalar

{'2': 20185, '4': 28596, '6': 35325, '8': 40371, '10': 43735, '12': 45417}

In [47]:
import random

In [48]:
ALPHA = 30
costo_operar = {
    k: [round(val/12 
              * (ALPHA/100)
              #* (1 + (12/int(k)/12))
              * (1 + random.randint(-20,20)/100)
        ,0) for t in range(12)
       ]
    for k, val in costo_instalar.items()
}
costo_operar

{'2': [464.0,
  459.0,
  454.0,
  515.0,
  545.0,
  439.0,
  479.0,
  595.0,
  454.0,
  515.0,
  489.0,
  520.0],
 '4': [572.0,
  836.0,
  658.0,
  665.0,
  615.0,
  736.0,
  601.0,
  794.0,
  772.0,
  579.0,
  686.0,
  858.0],
 '6': [865.0,
  1033.0,
  804.0,
  1060.0,
  724.0,
  857.0,
  998.0,
  971.0,
  821.0,
  1007.0,
  733.0,
  821.0],
 '8': [807.0,
  878.0,
  1009.0,
  828.0,
  1080.0,
  1090.0,
  989.0,
  1211.0,
  888.0,
  1130.0,
  1211.0,
  858.0],
 '10': [1246.0,
  1061.0,
  1159.0,
  1246.0,
  1181.0,
  908.0,
  973.0,
  1082.0,
  908.0,
  1061.0,
  1301.0,
  1104.0],
 '12': [954.0,
  1090.0,
  1181.0,
  1124.0,
  1192.0,
  1135.0,
  931.0,
  1022.0,
  908.0,
  1067.0,
  942.0,
  954.0]}

In [49]:
pd.DataFrame(costo_operar)

        2      4       6       8      10      12
0   464.0  572.0   865.0   807.0  1246.0   954.0
1   459.0  836.0  1033.0   878.0  1061.0  1090.0
2   454.0  658.0   804.0  1009.0  1159.0  1181.0
3   515.0  665.0  1060.0   828.0  1246.0  1124.0
4   545.0  615.0   724.0  1080.0  1181.0  1192.0
5   439.0  736.0   857.0  1090.0   908.0  1135.0
6   479.0  601.0   998.0   989.0   973.0   931.0
7   595.0  794.0   971.0  1211.0  1082.0  1022.0
8   454.0  772.0   821.0   888.0   908.0   908.0
9   515.0  579.0  1007.0  1130.0  1061.0  1067.0
10  489.0  686.0   733.0  1211.0  1301.0   942.0
11  520.0  858.0   821.0   858.0  1104.0   954.0

# Costos de Operar e Installar

In [50]:
output = []
for _, row in df.iterrows():
    id_satellite = str(row["id_satellite"])

    output.append({
        "id_satellite": id_satellite,
        "lon": row["lon"],
        "lat": row["lat"],
        "distance": row["distance"],
        "travel_time_from_dc": row["travel_time_from_dc"],
        "travel_time_in_traffic_from_dc": row["travel_time_in_traffic_from_dc"],
        "capacity": row["capacity"],
        "cost_fixed": json.dumps(costo_instalar),
        "cost_operation": json.dumps(costo_operar),
        "cost_sourcing": row["cost_sourcing"],
    })

In [51]:
df_output = pd.DataFrame(output)
df_output.to_excel(path, index=False)
df_output

,id_satellite,lon,lat,distance,travel_time_from_dc,travel_time_in_traffic_from_dc,capacity,cost_fixed,cost_operation,cost_sourcing
0,Abaroa,-68.128476,-16.512483,11.117,0.577222,0.604444,"{""2"": 2, ""4"": 4, ""6"": 6, ""8"": 8, ""10"": 10, ""12...","{""2"": 20185, ""4"": 28596, ""6"": 35325, ""8"": 4037...","{""2"": [464.0, 459.0, 454.0, 515.0, 545.0, 439....",0.335
1,Llojeta,-68.129577,-16.527796,12.657,0.524722,0.555000,"{""2"": 2, ""4"": 4, ""6"": 6, ""8"": 8, ""10"": 10, ""12...","{""2"": 20185, ""4"": 28596, ""6"": 35325, ""8"": 4037...","{""2"": [464.0, 459.0, 454.0, 515.0, 545.0, 439....",0.335
2,Cota_Cota,-68.060496,-16.538659,23.929,0.893333,0.972500,"{""2"": 2, ""4"": 4, ""6"": 6, ""8"": 8, ""10"": 10, ""12...","{""2"": 20185, ""4"": 28596, ""6"": 35325, ""8"": 4037...","{""2"": [464.0, 459.0, 454.0, 515.0, 545.0, 439....",0.335
3,Achachicala,-68.147618,-16.483875,16.794,0.514444,0.607222,"{""2"": 2, ""4"": 4, ""6"": 6, ""8"": 8, ""10"": 10, ""12...","{""2"": 20185, ""4"": 28596, ""6"": 35325, ""8"": 4037...","{""2"": [464.0, 459.0, 454.0, 515.0, 545.0, 439....",0.335
4,Mallasa,-68.085339,-16.570317,20.593,0.771667,0.785833,"{""2"": 2, ""4"": 4, ""6"": 6, ""8"": 8, ""10"": 10, ""12...","{""2"": 20185, ""4"": 28596, ""6"": 35325, ""8"": 4037...","{""2"": [464.0, 459.0, 454.0, 515.0, 545.0, 439....",0.335
5,Sopocachi,-68.133110,-16.506447,10.479,0.534167,0.549444,"{""2"": 2, ""4"": 4, ""6"": 6, ""8"": 8, ""10"": 10, ""12...","{""2"": 20185, ""4"": 28596, ""6"": 35325, ""8"": 4037...","{""2"": [464.0, 459.0, 454.0, 515.0, 545.0, 439....",0.335
6,Periferica,-68.129565,-16.485469,19.744,0.666389,0.773611,"{""2"": 2, ""4"": 4, ""6"": 6, ""8"": 8, ""10"": 10, ""12...","{""2"": 20185, ""4"": 28596, ""6"": 35325, ""8"": 4037...","{""2"": [464.0, 459.0, 454.0, 515.0, 545.0, 439....",0.335
7,Zona_Cementerio,-68.153521,-16.495274,10.383,0.554167,0.543333,"{""2"": 2, ""4"": 4, ""6"": 6, ""8"": 8, ""10"": 10, ""12...","{""2"": 20185, ""4"": 28596, ""6"": 35325, ""8"": 4037...","{""2"": [464.0, 459.0, 454.0, 515.0, 545.0, 439....",0.335
8,Los_Pinos,-68.076151,-16.546799,21.591,0.809167,0.875000,"{""2"": 2, ""4"": 4, ""6"": 6, ""8"": 8, ""10"": 10, ""12...","{""2"": 20185, ""4"": 28596, ""6"": 35325, ""8"": 4037...","{""2"": [464.0, 459.0, 454.0, 515.0, 545.0, 439....",0.335

# Costos de Servir

In [ ]:
import json
import numpy as np
from src.instance.instance import Instance
from src.model.deterministic import FlexibilityModel

In [ ]:
instance_to_solve: Instance = Instance(
        id_instance="expected_non_fixed",
        capacity_satellites={"2": 2, "4": 4, "6": 6, "8": 8, "10": 10, "12": 12},
        is_continuous_x=False,
        alpha=0.5,
        beta=0.5,
        type_of_flexibility=2,
        periods=12,
        N=1,
        is_evaluation=False,
    )
scenario = instance_to_solve.get_scenario_expected()
instance_to_solve.scenarios = {"expected": scenario}
pixels = scenario.pixels
satellites = instance_to_solve.satellites

In [ ]:
cost_from_satellite = scenario.get_cost_serving("satellite")
fleet_size_from_satellite = scenario.get_fleet_size_required("satellite")

In [ ]:
total_cost_values = [val["total"] for val in cost_from_satellite.values()]
plt.hist(total_cost_values,bins=100)
plt.title("Costo por item de servir de satellite a pixel")
plt.xlabel("costo unitario por item")
plt.show()
print(f"min {np.min(total_cost_values)}")
print(f"median {np.median(total_cost_values)}")
print(f"max {np.max(total_cost_values)}")
print(f"avg {np.mean(total_cost_values)}")
print("----- percentiles-----")
print(f"p5 {np.percentile(total_cost_values,5)}")
print(f"p25 {np.percentile(total_cost_values,25)}")
print(f"p75 {np.percentile(total_cost_values,75)}")
print(f"p95 {np.percentile(total_cost_values,95)}")
print(f"p99 {np.percentile(total_cost_values,99)}")

In [ ]:
for t in range(12):
    sum_by_period = 0
    for k, pixel in pixels.items():
        sum_by_period += pixel.drop_by_period[t]#pixel.demand_by_period[t]
    print(f"demanda total periodo {t} - demanda {sum_by_period}")

In [ ]:
total_fleet_size_from_satellite = [val["fleet_size"] for val in fleet_size_from_satellite.values()]
plt.hist(total_fleet_size_from_satellite,bins=100)
plt.title("fleet size required servir de satellite a pixel")
plt.xlabel("cantidad de vehiculos")
plt.show()
print(f"min {np.min(total_fleet_size_from_satellite)}")
print(f"median {np.median(total_fleet_size_from_satellite)}")
print(f"max {np.max(total_fleet_size_from_satellite)}")
print(f"avg {np.mean(total_fleet_size_from_satellite)}")
print("----- percentiles-----")
print(f"p5 {np.percentile(total_fleet_size_from_satellite,5)}")
print(f"p25 {np.percentile(total_fleet_size_from_satellite,25)}")
print(f"p75 {np.percentile(total_fleet_size_from_satellite,75)}")
print(f"p95 {np.percentile(total_fleet_size_from_satellite,95)}")
print(f"p99 {np.percentile(total_fleet_size_from_satellite,99)}")

print("----- requerido -----")
print(f"total {np.sum(total_fleet_size_from_satellite)}")
print(f"total avg period {np.sum(total_fleet_size_from_satellite)/12}")
print(f"total avg period y satellite {np.sum(total_fleet_size_from_satellite)/(9*12)}")

In [ ]:
value_by_satellite = {}
for s in satellites.keys():
    value_list = []
    for t in range(12):
        sum_value = 0
        for k, pixel in pixels.items():
            sum_value += fleet_size_from_satellite[(s,k,t)]["fleet_size"]
        value_list.append(sum_value)
    value_by_satellite[s] = value_list

In [ ]:
value_by_satellite

In [ ]:
value_by_satellite = {}
for s in satellites.keys():
    sum_value = []
    for k, pixel in pixels.items():
        for t in range(12):
            sum_value.append( cost_from_satellite[(s, k, t)]["total"] * pixel.demand_by_period[t] )
    #sum_value = [val / 12 for val in sum_value]
    value_by_satellite[s] = sum_value

In [ ]:
for k, cost in value_by_satellite.items():
    plt.hist(cost, bins=100)
    plt.title(f"costo de servir desde s {k}")
    plt.ticklabel_format(style='plain', axis='x')
    plt.show()
    print(f"min {np.min(cost)}")
    print(f"median {np.median(cost)}")
    print(f"max {np.max(cost)}")
    print(f"avg {np.mean(cost)}")
    print("----- percentiles-----")
    print(f"p5 {np.percentile(cost,5)}")
    print(f"p25 {np.percentile(cost,25)}")
    print(f"p75 {np.percentile(cost,75)}")
    print(f"p95 {np.percentile(cost,95)}")
    print(f"p99 {np.percentile(cost,99)}")

In [ ]:
cost_from_dc = scenario.get_cost_serving("dc")
fleet_size_from_dc = scenario.get_fleet_size_required("dc")

In [ ]:
total_cost_values_from_dc = [val["total"] for val in cost_from_dc.values()]
plt.hist(total_cost_values_from_dc,bins=100)
plt.title("Costo por item de servir de dc a pixel")
plt.xlabel("costo unitario por item")
plt.show()
print(f"min {np.min(total_cost_values_from_dc)}")
print(f"median {np.median(total_cost_values_from_dc)}")
print(f"max {np.max(total_cost_values_from_dc)}")
print(f"avg {np.mean(total_cost_values_from_dc)}")
print("----- percentiles-----")
print(f"p5 {np.percentile(total_cost_values_from_dc,5)}")
print(f"p25 {np.percentile(total_cost_values_from_dc,25)}")
print(f"p75 {np.percentile(total_cost_values_from_dc,75)}")
print(f"p95 {np.percentile(total_cost_values_from_dc,95)}")
print(f"p99 {np.percentile(total_cost_values_from_dc,99)}")

In [ ]:
total_fleet_size_from_dc = [val["fleet_size"] for val in fleet_size_from_dc.values()]
plt.hist(total_fleet_size_from_dc,bins=100)
plt.title("fleet size required servir de dc a pixel")
plt.xlabel("cantidad de vehiculos")
plt.show()
print(f"min {np.min(total_fleet_size_from_dc)}")
print(f"median {np.median(total_fleet_size_from_dc)}")
print(f"max {np.max(total_fleet_size_from_dc)}")
print(f"avg {np.mean(total_fleet_size_from_dc)}")
print("----- percentiles-----")
print(f"p5 {np.percentile(total_fleet_size_from_dc,5)}")
print(f"p25 {np.percentile(total_fleet_size_from_dc,25)}")
print(f"p75 {np.percentile(total_fleet_size_from_dc,75)}")
print(f"p95 {np.percentile(total_fleet_size_from_dc,95)}")
print(f"p99 {np.percentile(total_fleet_size_from_dc,99)}")

In [ ]:
value_by_dc = []
for k, pixel in pixels.items():
    for t in range(12):
        value_by_dc.append( cost_from_dc[(k, t)]["total"] * pixel.demand_by_period[t] )

In [ ]:
plt.hist(value_by_dc, bins=100)
plt.title(f"costo de servir desde DC")
plt.ticklabel_format(style='plain', axis='x')
plt.show()
print(f"min {np.min(value_by_dc)}")
print(f"median {np.median(value_by_dc)}")
print(f"max {np.max(value_by_dc)}")
print(f"avg {np.mean(value_by_dc)}")
print("----- percentiles-----")
print(f"p5 {np.percentile(value_by_dc,5)}")
print(f"p25 {np.percentile(value_by_dc,25)}")
print(f"p75 {np.percentile(value_by_dc,75)}")
print(f"p95 {np.percentile(value_by_dc,95)}")
print(f"p99 {np.percentile(value_by_dc,99)}")

In [ ]:
value_list = []
for t in range(12):
    sum_value = 0
    for k, pixel in pixels.items():
        sum_value += fleet_size_from_dc[(k,t)]["fleet_size"]
    value_list.append(sum_value)
value_list

In [53]:
len({"2": [1,2,3,34],"4":1})

2